---
import { getImage } from "astro:assets";

import Bg from "../assets/bg.png";
const OptBg = await getImage({ src: Bg });
---

<div
  id="feature2"
  style=`height: fit-content;background-image: url(${OptBg.src});`
  class="section
  text-white
  w-100"
>
  <!-- background: linear-gradient(black, black) url(${Bg.src}); -->
  <div class="h-100 w-100" style=" background-color: rgba(0, 0, 0, 0.7);">
    <div class="container px-4 py-2" id="hanging-icons">
      <div class="row g-5 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fs-2">Beragam Buku</h3>
            <p>
              Paragraph of text beneath the heading to explain the heading.
              We'll add onto it with another sentence and probably just keep
              going until we run out of words.
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fs-2">Tampilan Menarik</h3>
            <p>
              Paragraph of text beneath the heading to explain the heading.
              We'll add onto it with another sentence and probably just keep
              going until we run out of words.
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fs-2">Perbaruan Tiap Hari</h3>
            <p>
              Paragraph of text beneath the heading to explain the heading.
              We'll add onto it with another sentence and probably just keep
              going until we run out of words.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    #feature2 {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  </style>
</div>
