<div
  id="pricing"
  style="height: fit-content; min-height: 100vh;"
  class="section"
>
  <div class="container flex-column d-flex justify-content-center h-100 w-100">
    <div class="fs-1 mx-auto fw-semibold my-5">Pricing</div>
    <div
      class="row justify-content-center align-items-center h-100 w-100 row-cols-1 row-cols-md-3 mb-3 text-center"
    >
      <div class="col">
        <div class="card mb-4 rounded-0 shadow-sm">
          <div class="car py-3">
            <h4 class="my-0 fw-normal">FREE PLAN</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $0<small class="text-body-secondary fs-4 fw-light">/mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button
              type="button"
              class="w-75 rounded-0 btn btn-lg btn-outline-primary"
              >Sign up for free</button
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-0 shadow-sm">
          <div class="py-3">
            <h4 class="my-0 fw-normal">PRO PLAN</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $15<small class="text-body-secondary fs-4 fw-light">/mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button
              type="button"
              class="w-75 rounded-0 btn btn-lg btn-outline-primary"
              >Get started</button
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-0 shadow-sm">
          <div class="py-3 border-primary">
            <h4 class="my-0 fw-normal">PREMIUM PLAN</h4>
          </div>
          <!-- <hr style="height: 4px;" class="my-0 text-secondary w-75 mx-auto" /> -->
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $29<small class="fs-4 fw-light">/mo</small>
            </h1>

            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button
              type="button"
              class="w-75 rounded-0 btn-outline-primary btn btn-lg"
              >Contact us</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
